version: '3.8'

services:
  external-dns:
    image: {{ external_dns_image }}
    container_name: external-dns
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - PROVIDER={{ external_dns_provider }}
      - CF_API_TOKEN={{ cf_api_token }}
      - DOMAIN_FILTER={{ domain }}
      - SOURCES={{ external_dns_sources }}
      - REGISTRY=txt
      - TXT_OWNER_ID={{ ansible_hostname }}
      - TXT_PREFIX=externaldns-
      - INTERVAL=1m
    command:
      - --log-level=info
      - --log-format=text
      - --once
      - --publish-host-ip
      - --txt-prefix=externaldns- 