version: '3.8'

services:
  traefik:
    image: traefik:{{ traefik_version }}
    container_name: traefik
    restart: always
    security_opt:
      - no-new-privileges:true
    networks:
      - traefik_network
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./{{ traefik_acme_file }}:/letsencrypt/{{ traefik_acme_file }}
    command:
      - "--log.level=INFO"
      - "--api.dashboard=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.network=traefik_network"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
      - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.le.acme.dnschallenge=true"
      - "--certificatesresolvers.le.acme.dnschallenge.provider=cloudflare"
      - "--certificatesresolvers.le.acme.email={{ cf_email }}"
      - "--certificatesresolvers.le.acme.storage=/letsencrypt/{{ traefik_acme_file }}"
    environment:
      - CF_API_TOKEN={{ cf_api_token }}
    labels:
      - "traefik.enable=true"
      {% if traefik_dashboard_enabled %}
      - "traefik.http.routers.traefik.rule=Host(`{{ traefik_dashboard_subdomain }}.{{ domain }}`)"
      - "traefik.http.routers.traefik.entrypoints=websecure"
      - "traefik.http.routers.traefik.tls.certresolver=le"
      - "traefik.http.routers.traefik.service=api@internal"
      {% if traefik_dashboard_auth_enabled %}
      - "traefik.http.routers.traefik.middlewares=traefik-auth"
      {% if traefik_dashboard_password != "" %}
      - "traefik.http.middlewares.traefik-auth.basicauth.users={{ traefik_dashboard_username }}:{{ traefik_dashboard_password | password_hash('bcrypt') }}"
      {% else %}
      - "traefik.http.middlewares.traefik-auth.basicauth.users={{ traefik_dashboard_username }}:$$apr1$$itssalt$$GetYourOwnPasswordHash"
      {% endif %}
      {% endif %}
      {% endif %}

  # Example Hello World service
  hello:
    image: nginx:alpine
    container_name: hello-world
    restart: always
    networks:
      - traefik_network
    volumes:
      - ./hello:/usr/share/nginx/html:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.hello.rule=Host(`hello.{{ domain }}`)"
      - "traefik.http.routers.hello.entrypoints=websecure"
      - "traefik.http.routers.hello.tls.certresolver=le"
      - "traefik.http.services.hello.loadbalancer.server.port=80"
      - "external-dns.alpha.kubernetes.io/hostname=hello.{{ domain }}."

networks:
  traefik_network:
    external: true 